.felx-container{
    display:flex;
   
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
}
.my-name{
    color: orange;
}
.section-1{
    width: 50%;
    padding-left: 3%;

}
.section-1 p{
    font-weight: lighter;
}
.section-1 img{
   width: 95%;
   height: 95%;
}
.HiremeButtn{
    color: white;
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    padding:10px 40px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}
#Top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}
#Middle{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#Last{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.section2{
    width:50%;
    padding-left: 5%;
}
.section2 img{
    width:100%;
    height: 100%;
}
.last-section-parent{
    display: flex;
   
 
}

.Skills{
    width: 45%;
    box-shadow: 10px 10px 40px  grey;
    padding-left: 30px;
    border-radius: 5px;
    

}
.left{
    margin-left: 5%;
    margin-right: 2.5%;
    border-left:7px solid;
    border-image:linear-gradient(tomato,orange);
    border-image-slice: 1;
    
}
.right{
    margin-right:5%;
    margin-left: 2.5%;
    border-left:7px solid;
    border-image: linear-gradient(darkblue,blue,cyan);
    border-image-slice: 1 4 8;
}
.Skills h1{
    font-size:40px;
}
footer {
    text-align: center;
}