section{
    display:flex;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
.my-name{
    color: orange;
}
.section-1{
    width: 50%;
    padding-left: 5%;

}
.section-1 p{
    font-weight: lighter;
}
.section-1 img{
   width: 95%;
   height: 95%;
}
.HiremeButtn{
    color: white;
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    padding:10px 40px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}
#Top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}